.other
  display: flex
  flex-flow: column

  &__title
    font-family: 'Lastochka'
    font-style: normal
    font-weight: 400
    font-size: 80px
    line-height: 103px
    text-align: center
    color: rgba(217, 186, 186, 0.7)

  &__text
    font-family: 'Inter'
    font-weight: lighter
    font-size: 24px
    line-height: 44px
    color: #d9d9d9
    max-width: 977px

  &__telephones
    display: flex
    flex-flow: column

    &__item
      font-family: 'Inter'
      font-style: normal
      font-weight: 200
      font-size: 24px
      color: white

.margin-md
  margin-bottom: 32px

.margin-lg
  margin-bottom: 100px

.margin-sm
  margin-bottom: 20px

.centered
  margin-right: auto
  margin-left: auto
  text-align: center