.page-layout
  display: block
  position: absolute
  top: 0
  left: 0
  width: 100%
  background-image: url("../../assets/backImage.jpg")

  &__colored-back
    background: rgba(0, 0, 0, 0.86)
    overflow-y: auto

  &__body
    height: auto

    &__wrapper
      margin: 20px 17%

.section
  padding: 20px 10px

  &:not(:last-child)
    margin-bottom: 70px


.title
  position: relative
  margin-top: 20px
  margin-bottom: 50px
  height: 150px

  &__first-letter
    left: calc(45%)
    position: absolute
    font-family: 'Lastochka' !important
    font-style: normal
    font-weight: 400
    font-size: 80px
    line-height: 103px
    text-align: center
    color: white

  &__second-letter
    left: calc(49%)
    top: 30px
    position: absolute
    font-family: 'Lastochka' !important
    font-style: normal
    font-weight: 400
    font-size: 66px
    line-height: 103px
    text-align: center
    color: white

  &__image


@media screen and (max-width: 1279px)
  .page-layout
    &__body
      &__wrapper
        margin: 20px 10%



@media screen and (max-width: 769px)




@media screen and (max-width: 320px)