.page-layout
  display: block
  position: absolute
  top: 0
  left: 0
  width: 100%
  background-image: url("../../assets/backImage.jpg")

  &__colored-back
    background: rgba(0, 0, 0, 0.86)
    overflow-y: auto

  &__body
    height: auto

    &__wrapper
      margin: 20px 17%

.section
  padding: 20px 10px